<h2 class="header-font"><%= @type_questions %></h2><br />
<span class="questions-list">
  <%= render 'questions/shared_index/questions_list' %>
</span>
<% if can? :access, :rails_admin %>
  <div class="segoepr-font">
    <%= link_to 'New Category', rails_admin.new_path('question_category') %>
  </div>
<% end %>
