<span id="type-questions">
  <%= render 'questions/shared_index/type_questions_menu' %>
</span>
<% if can? :access, :rails_admin %>
    <div class="segoepr-font">
      <%= link_to 'New Category', rails_admin.new_path('question_category') %>
    </div>
<% end %>
