<% type_questions = params[:type_questions] || 'All questions' %>
<p class="header-font segoepr-font">
  <%= type_questions %>
</p>
<span class="question">
  <%= render 'questions/shared_show/question' %>
</span>
<div>
  <%= link_to 'Back to questions', questions_path(
                                     type_questions: type_questions),
                                   id: 'back', class: 'btn btn-primary' %>
</div>
