<p class="segoepr-font-25-blue">Question and answer</p></br>
<% type_questions = params[:type_questions] || 'All questions' %>
<p class="header-font25 segoepr-font25">
  <%= type_questions %>
</p>
<span class="question">
  <%= render 'questions/shared_show/question' %>
</span>
<div>
  <%= link_to 'Back to questions', question_category_path(
                                     @question.question_category_id,
                                     type_questions: type_questions),
                                   id: 'back', class: 'btn btn-primary' %>
</div>
