<span id="category_page">
  <%= render 'question_categories/shared_show/category_page' %>
</span>
<span id="paginator">
  <%= paginate @questions, :remote => true,
                           theme: 'twitter-bootstrap-3',
                           pagination_class: "pagination-md"  %>
</span>
