<div class="field col-md-6">
  <%= form_for :answer, url: answers_path, remote: true do |f| %>
    <%= render 'questions/shared_show/text_area', f: f, question_id: question_id %>
    <div>
      <%= f.submit 'Save the answer', class: 'btn btn-success' %>
    </div>
  <% end %>
</div><br /><br />
