<span class="main-text">
  <div class="container">
    <div class="carousel-caption">
      <%= render'welcome/carousel_text' %>
    </div>
  </div>
</span>
<h2 class="about">
  Do you know about the benefits of questions?<br />
  Answering the right questions, you get to know yourself.<br />
  Questions are a key to self-awareness, personal growth and happiness.<br /><br />
  Here are some important questions for your self-reflection, by yours truly.<br /><br />
  These questions will help you focus on what’s important to you and what you want.
</h2>
<h4 class="link-to-site">
  WebSite created using <%= link_to '101 Important Questions To Ask Yourself', 'http://personalexcellence.co/blog/101-questions/' %>
</h4>
