<div class="col-md-3">
  <%= link_to 'Previous', question_path(@previous_question, type_questions: @type_questions),
              class: 'btn btn-primary', remote: true if @previous_question %>
</div>
