<% type_questions = params[:type_questions] ?
  params[:type_questions] : 'All questions' %>
<h2 class="header-font"><%= type_questions %></h2><br />
<% case type_questions %>
<% when 'All questions' %>
    <%= render 'questions/shared_index/type_questions_menu/all',
               type_questions:      type_questions,
               question_categories: QuestionCategory.roots %>
<% when 'Questions with answers' %>
    <%= render 'questions/shared_index/type_questions_menu/with_answers',
               type_questions:      type_questions,
               question_categories: QuestionCategory.roots %>
<% when 'Questions without answers' %>
    <%= render 'questions/shared_index/type_questions_menu/without_answers',
               type_questions:      type_questions,
               question_categories: QuestionCategory.roots %>
<% end %>
