<span id="categories_and_questions_page">
  <%= render 'questions/shared_index/questions_paginate/categories_and_questions',
             type_questions: type_questions %>
</span><br /><br />
<span id="paginator">
  <%= paginate @questions, remote: true,
               theme: 'twitter-bootstrap-3',
               pagination_class: "pagination-md"  %>
</span>
