<% type_questions = @type_questions %>
<% question_categories = QuestionCategory.main %>
<% questions = Question.array_questions(type_questions, @user_id) %>
<h2 class="header-font"><%= type_questions %></h2><br />
<% case type_questions %>
 <% when 'All questions' %>
   <%= render 'questions/shared_index/type_questions_menu/all',
     type_questions:      type_questions,
     question_categories: question_categories,
     questions:           questions %>
 <% when 'Questions with answers' %>
   <%= render 'questions/shared_index/type_questions_menu/with_answers',
     type_questions:      type_questions,
     question_categories: question_categories,
     questions:           questions %>
 <% when 'Questions without answers' %>
   <%= render 'questions/shared_index/type_questions_menu/without_answers',
     type_questions:      type_questions,
     question_categories: question_categories,
     questions:           questions %>
<% end %>
