<div class="row feild questions-and-form-area">
  <div class="col-md-6" id="list">
    <%= render'questions/shared_index/categories_turn_over',
              categories_array: @question_categories, type_questions: @type_questions %>
  </div>
  <div class="col-md-6" id="form"></div>
</div><br />
