
.link-font{
  font-size: 15px;
  font-weight: bold;
  font-family: DS-Note;
}
.text-success{
  color: #66CC66
}
.text-warning{
  color: #FFCC66
}
.text-area{
  width: 650px;
  min-width:650px;
  max-width:650px;
}

.active-question{
  font-weight: bold;
  font-size: 21px;
}
