//WELCOME
.carousel-caption {
  font-family: PFSquareSansPro-ExtraBlackItalic;
  color: #66CC66; //66CC33;
  text-shadow: 2px 2px #000;
}
.about {
  margin-top: 175px;
  font-family: segoepr;
  font-size: 35px;
  margin-bottom: 180px;
}
.link-to-site{
  font-family: segoepr;
  font-size: 15px;
  margin-bottom: 30px;
}
.tab2 {
  padding: 29px;
}

//CAROUSEL
.carousel {
  height: 800px;
}
.carousel .item {
  height: 800px;
}
.carousel-inner > .item > img {
  height: 800px;
  margin: 0 auto;
  min-width: 100%;
  //min-height: 100%;
}
.carousel-notice {
  font-size: 20px;
  margin-bottom: 450px;
}
.main-text {
  top: 610px;
}
.red {
  color: #d9534f
}
