<% if can? :destroy, question %>
  <td><%= link_to 'Destroy', question_path(question_id),
                             method: :delete,
                               data: { confirm: 'Are you sure?' },
                              class: 'btn btn-mini btn-danger',
                             remote: true  %></td>
<% end %>
