<p class="segoepr-font-25-blue">Questions list</p></br>
<span class="category">
  <%= render 'question_categories/shared_show/category' %>
</span>
<div>
  <%= link_to 'Back to categories', question_categories_path(
                                      type_questions: params[:type_questions]),
                                    class: 'btn btn-primary' %>
</div></br></br>
<%= render 'question_categories/shared_index/links/new_question' %></br></br>
<%= paginate @questions , theme: 'twitter-bootstrap-3',
                          pagination_class: "pagination-md"  %>
